*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Lato', sans-serif;
    color: #5a5a5a;
    background-color: #ffffff; 
    text-rendering: optimizeLegibility;
}
.container{
    max-width: 1200px;
    background-color:#73a767;
}
.row{
    display: flex;
    align-items: flex-start;
}
.col{
    width: 33.33%;
    margin: 20px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
}
span{
    color: white;
    background-color: #29bb89;
    border-radius: 100px;
    margin: 10px 0 10px 15px;
    display: inline-block;
    padding: 0 5px;
}
img{
    width: 100%;
}
.content{
    margin: 10px;
}
h6{
    margin-bottom: 10px ;
    margin-top: 5px;
    font-size: italic;
}
h2{
    color: #5d8c55;
}